/* Стили для вспомогательных объектов проверки
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}
/* Lower my styles */
#left 
{
  color: blue;
  float: left;
  margin-top: 30px;
  width: 20%; 
}

#header 
{
  color: black;
  margin-top: 0px;
  width: 100%;
}

#right 
{
  color: red;
  float: right; 
  margin-top: 30px;
  width: 20%;
}

#center
{
  color: blue;
  margin-left: 20%;
  margin-top: 30px; 
  margin-right: 20%;
}

.clear 
{
  clear: both;
}