/* Стили для вспомогательных объектов проверки
-----------------------------------------------------------*/
body
{
    margin: 5px;
    /*background-image: url("\Piter.png");
    background-repeat: no-repeat;
    background-attachment: center;*/
    background-color: #c2c9cb;
}
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

#banner
{
    margin-right: 10%;
    margin-left: 10%;
}
#header
{
    color: #194a74;
    text: bold;
    text-align: center;
    margin-left: 15%;
    margin-top: 0%;
    margin-right: 15%;
    width: 60%;
}

#line_for_register
{
    color: #194a74;
    float: right;
    margin-left: 80%;
    margin-right: 10%;
    margin-top: 0%;
    text-align: right;
    width: 20%;
    position: relative;
}

#left
{
    float: left;
    margin-top: 1%;
    margin-left: 10%;
    width: 20%;
    margin-bottom: 0%;
}

#right
{
    color: #194a74;
    float: right;
    margin-top: 1%;
    width: 15%;
    height: 100%;
    margin-bottom: 0%;
    margin-right: 10%;
}

#center
{
    /*color: #194a74;*/
    margin-top: 0%;
    margin-left: 20%;
    margin-right: 16%;
    text-indent: 1.5em;
}

.clear
{
    clear: both;
}
