/*.horizontalcssmenu ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/*Top level list items
.horizontalcssmenu ul li
{
    position: relative;
    display: block;
    float: left;
}

/*Top level menu link items style
.horizontalcssmenu ul li a
{
    display: block;
    width: 100%; /*Width of top level menu link items
    padding: 3px 10px; /* The first value sets the field from the upper and lower edges, the second - from the left and right
    border: 1px solid #202020;
    border-left-width: 0;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    background: url(menubg.gif) center center repeat-x;
    color: black;
    font: bold 14px Tahoma;
}

/*Sub level menu
.horizontalcssmenu ul li ul
{
    padding: 3px 10px;/* The first value sets the field from the upper and lower edges, the second - from the left and right 
    border-top: 0px solid #202020;
    border-radius: 50%;
    position: absolute;
    display: block;
    text-align: center;
    text-decoration: none;
    visibility: hidden;
    z-index: 1;
    font: bold 12px Tahoma;
}

/*Sub level menu list items
.horizontalcssmenu ul li ul li
{
    display: inline;
    float: none;
}


/* Sub level menu links style 
.horizontalcssmenu ul li ul li a
{
    width: 100%; /*width of sub menu levels
    font-weight: normal;
    padding: 2px 5px;
    background: #8377ec;
    border-width: 0 1px 1px 1px;
}

.horizontalcssmenu ul li a:hover
{
    background: url(menubgover.gif) center center repeat-x;
}

.horizontalcssmenu ul li ul li a:hover
{
    background: #cde686;
}

* html p#iepara
{
    /*For a paragraph (if any) that immediately follows menu, add 1em top spacing between the two in IE
    padding-top: 1em;
}*/
#menu-wrapper 
{
	overflow: hidden;
    margin-left: 10%;
    margin-right: 10%;
    height: 10%;
	min-height: 50px;
	background: #000000;
}

#menu 
{
	width: 100%;
    height: 10%;
	min-height: 55px;
	margin: 0px auto;
	padding: 0px;
}

#menu ul 
{
	margin: 0;
	padding: 10px 0px 0px 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
}

#menu li 
{
	display: inline-block;
	border-color: rgba(255,255,255,.09);
	border-right: 1px solid;
}

#menu a 
{
	display: block;
	letter-spacing: 1px;
	margin: 0px 10px;
	padding: 10px 20px;
	text-decoration: none;
	text-align: center;
	font-size: 14px;
	font-weight: normal;
	color: #FFFFFF;
	border: none;
}

#menu a:hover, #menu .current_page_item a 
{
	text-decoration: none;
	color: #FFFFFF;
}

#menu .current_page_item a 
{
}