/* Стили для вспомогательных объектов проверки
-----------------------------------------------------------*/
body
{
    margin-left: 10%;
    margin-right: 10%;
    /*background-image: url("\Piter.png");
    background-repeat: no-repeat;
    background-attachment: center;*/
    background-color: #c2c9cb;
    min-height: 600px;
    min-width: 800px;
}
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

#banner
{
    min-width: 75px;
    min-height: 60px;
}

#line_for_register
{
    color: #194a74;
    float: right;
    margin-left: 80%;
    margin-right: 10%;
    margin-top: 0%;
    text-align: right;
    width: 20%;
    min-width: 155px;
    position: relative;
}

#header
{
    color: #194a74;
    text-align: center;
    margin-left: 15%;
    margin-top: 0%;
    margin-right: 15%;
    width: 60%;
    min-width: 465px;
}

#center
{
    margin-top: 0%;
    margin-left: 15%;
    margin-right: 15%;
    text-indent: 1.5em;
    text-align: justify;
    min-width: 465px;
}

#left
{
    float: left;
    margin-top: 0%;
    width: 20%;
    min-width: 155px;
    margin-bottom: 0%;
}

#right
{
    color: #194a74;
    float: right;
    margin-top: 0%;
    width: 15%;
    min-width: 115px;
    margin-bottom: 0%;
}

.clear
{
    clear: both;
}
