/* Стили для вспомогательных объектов проверки
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

#header
{
    color: blue;
    margin-left: 0%;
    margin-top: 0%;
    margin-right: 0%;
    width: 100%;
}

#line_for_register 
{
    color: blue;
    margin-left: 0%;
    margin-top: 0%;
    width: 100%;
}

#left 
{
    color: blue;
    float: left;
    margin-top: 0%;
    width: 16%;
}


#right 
{ 
    color: blue;
    float: right;
    margin-top: 0%;
    width: 16%;
}

#center 
{ 
    color: black;
    margin-top: 1%;
    margin-left: 15%;
    margin-right: 10%;
}

.clear
{
    clear: both;
}

