/* Стили для вспомогательных объектов проверки
-----------------------------------------------------------*/
body
{
    background-color: #c2c9cb;
}
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

#header
{
    color: #194a74;
    text-align: center;
    margin-left: 0%;
    margin-top: 0%;
    margin-right: 0%;
    width: 100%;
    min-width: 100px;
}

#line_for_register
{
    color: #194a74;
    margin-left: 0%;
    margin-top: 0%;
    width: 100%;
    min-width: 100px;
}

#left
{
    color: #194a74;
    float: left;
    margin-top: 0%;
    width: 20%;
    min-width: 100px;
    margin-bottom: 0%;
}

#right
{
    color: #194a74;
    float: right;
    margin-top: 0%;
    width: 15%;
    margin-bottom: 0%;
    min-width: 80px;
}

#center
{
    color: #194a74;
    margin-top: 0%;
    margin-left: 20%;
    margin-right: 20%;
    text-indent: 1.5em;
    min-width: 100px;
}

.clear
{
    clear: both;
}
